.content {
  grid-area: content;
  display: flex;
  flex-direction: column;
}

.img {
  height: calc(100vh - 60px);

  background-image: url("../../images/firefighter.jpg");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  //align-items: center;
  
}

.home-page-header {
  font-family: Rajdhani, serif;
  font-size: 75px;
  //color: rgb(228, 95, 95);
  color: rgb(196, 30, 30);
  //color: rgb(128, 16, 16);

  margin-top: 150px;
  text-align: center;
  
  margin-left: 80px;
  text-shadow: 3px 0px 7px rgb(13,7,48), 
  -3px 0px 7px rgb(13,7,48), 
  0px 4px 7px rgb(13,7,48);
}


.selling-points {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  min-height: 500px;
  margin: auto;
  align-items: center;

  @media (max-width: 640px) {
    grid-template-columns: 1fr;
  }

}