.background-img {
  background-image: url("../../images/services3.jpg");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;

  height: 80vh;

  display: grid;
  grid-template-columns: 1fr 1fr;
  // align-items: center;
  // justify-content: flex-end;

  margin-bottom: 80px;
}

.content-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 500px;
  padding-bottom: 150px;

  @media (max-width: 640px) {
    grid-template-columns: 1fr;
  }
}

.img-1 {
  background-image: url("../../images/hose_testing.png");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  margin-left: 50px;
  margin-top: 80px;

  border-image: url("../../images/Wood-Grain.jpg") 80 80 80 80 stretch stretch;
  border-color: #f4be52;
  border-style: inset;
  border-width: 25px;
  box-sizing: border-box;
  box-shadow: 0 0 0 15px rgba(244, 240, 236, 0.226) inset,
    0 0 0 8px rgba(180, 131, 90, 0.851), 0 0 0 5px rgb(180, 130, 90) inset;
  outline: 2px solid rgba(51, 51, 51, 0.851);
  outline-offset: 0px;
}

.img-2 {
  background-image: url("../../images/Fire-Truck.jpg");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  margin-right: 50px;
  margin-top: 80px;

  border-image: url("../../images/Wood-Grain.jpg") 80 80 80 80 stretch stretch;
  border-color: #f4be52;
  border-style: inset;
  border-width: 25px;
  box-sizing: border-box;
  box-shadow: 0 0 0 15px rgba(244, 240, 236, 0.226) inset,
    0 0 0 8px rgba(180, 131, 90, 0.851), 0 0 0 5px rgb(180, 130, 90) inset;
  outline: 2px solid rgba(51, 51, 51, 0.851);
  outline-offset: 0px;
}

.blue {
  background-color: rgb(13, 7, 48);
  color: #fff;
}

.img-3 {
  background-image: url("../../images/Hard-Suction-Testing-Pic.jpg");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  margin-left: 50px;
  margin-top: 80px;

  border-image: url("../../images/Wood-Grain.jpg") 80 80 80 80 stretch stretch;
  border-color: #f4be52;
  border-style: inset;
  border-width: 25px;
  box-sizing: border-box;
  box-shadow: 0 0 0 15px rgba(244, 240, 236, 0.226) inset,
    0 0 0 8px rgba(180, 131, 90, 0.851), 0 0 0 5px rgb(180, 130, 90) inset;
  outline: 2px solid rgba(51, 51, 51, 0.851);
  outline-offset: 0px;
}

.service {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  > p {
    padding: 0 50px;
  }
  > h2 {
    font-size: 28px;
    font-family: Rajdhani, serif;
  }
}

.services-page-header {
  font-family: Rajdhani, serif;
  font-size: 75px;
  color: rgb(196, 30, 30);
  margin-right: 80px;
  margin-top: 130px;

  text-align: center;
  text-shadow: 3px 0px 7px rgba(8, 8, 8), -3px 0px 7px rgba(8, 8, 8),
    0px 4px 7px rgb(8, 8, 8);
  // height: 80px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}
