.app {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.header {
  grid-area: header;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
  position: relative;

  height: 60px;
  background-color: rgb(13,7,48);
}

// .mobile-menu {
//   color: white;
//   border: 1px solid red;
//   background-color: black;
//   opacity: 0.6;
// }

.nav-btn {
  margin: 15px;
  color: white;
  text-decoration: none;

  &:hover {
    color: darksalmon;
    transition: 1s;
  }
}

.footer {
  grid-area: footer;
  color: #fff;
  background-color:  rgb(13,7,48);
  height: 50px;
  display: flex;
  align-items: center ;
  padding-left: 30px;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 36px;
  top: 22px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #b8b7ad;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: black;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  margin-top: -30px;
  opacity: 0.9;
  height: 100vh;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
