.app {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.header {
  grid-area: header;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;

  height: 60px;
  background-color: black;
}

.nav-btn {
  margin: 15px;
  color: white;
  text-decoration: none;

  &:hover {
    color: darksalmon;
    transition: 1s;
  }
}

.footer {
  grid-area: footer;

  background-color: black;
  height: 150px;
}
