.members-row{
    display: grid ;
    grid-template-columns: 1fr 1fr;
    h2{
    font-family: Rajdhani, serif;
    }
}

.member{
    text-align: center;
    padding: 80px;
}

.about-mission{
    text-align: center;
    //border: 1px solid red;
    padding: 50px 100px;
    margin-right: 700px;
    h2{
    font-family: Rajdhani, serif;
    }
    
}